body{
margin:0;
padding:0;
font-family:"Lobster", fantasy, cursive;
}

p{
	font-size:140%
}

b{font-size: 110%;}
em{color: red;}

a:visited{
	color:#990000;
	text-decoration:none;
}

a{
	color:#990000;
	text-decoration:none;
}

img{
	margin:5px;
	color:inherit;
	border-color:transparent;
}

h3{
	font-family:"Lobster", fantasy, cursive;
}

#topsection{
/*background: #EAEAEA;*/
background:white;
height: auto; /*Height of top section*/
min-height:200px;
font-family:"Lobster", fantasy, cursive;
border-bottom-color:blue;
border-bottom-style:dashed;
border-bottom-width:medium;
}

#topsection h1{
margin: 0;
padding-top: 15px;
text-align: center;
font-size:100px;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin-left: 140px; /*Set left margin to LeftColumnWidth*/
height:auto;
min-height:1000;
font-family: Tahoma, cursive, sans-serif;
}

#leftcolumn{
float: left;
width: 140px; /*Width of left column*/
margin-left: -100%;
background: #C8FC98;
}

#footer{
clear: left;
width: 100%;
background: teal;
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #64D2FF;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

.sidebarmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
font: bold 13px;
font-family:"Lobster", fantasy, cursive;
width: 140px; /* Main Menu Item widths */
border-bottom: 1px solid #ccc;
position:fixed;
}
 
.sidebarmenu ul li{
position: relative;
}

/* Top level menu links style */
.sidebarmenu ul li a{
display: block;
overflow: auto; /*force hasLayout in IE7 */
color: white;
text-decoration: none;
padding: 6px;
border-bottom: 2px solid #778;
border-right: 2px solid #778;
}

.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active{
background-color: #00A2E8; /*background of tabs (default state)*/
}

.sidebarmenu ul li a:visited{
color: white;
}

.sidebarmenu ul li a:hover{
background-color: blue;
}

/*Sub level menu items */
.sidebarmenu ul li ul{
position: absolute;
width: 170px; /*Sub Menu Items width */
top: 0;
visibility: hidden;
}

.sidebarmenu a.subfolderstyle{

}

 
/* Holly Hack for IE \*/
* html .sidebarmenu ul li { float: left; height: 1%; }
* html .sidebarmenu ul li a { height: 1%; }
/* End */
